.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  display: flex;
  justify-content: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__label {
  padding-bottom: 10px;
  margin-left: 10px;
}

.form__input {
  margin-bottom: 20px;
  width: 300px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
}

.form__input:focus {
  outline: none;
}

.form__btn {
  width: 100px;
  background-color: #ed8080;
  border: none;
  border-radius: 20px;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin: 15px auto;
}

.form__btn:hover {
  background-color: #aa2e2e;
  color: #fff;
}